fastapi
uvicorn
ccxt # Diubah dari ccxt.pro untuk memungkinkan instalasi
python-telegram-bot==20.6
pandas==1.5.3 # Memasang versi spesifik yang stabil untuk Python 3.10
numpy==1.23.5 # Memasang versi spesifik yang stabil untuk Python 3.10
scikit-learn==1.2.2 # Memasang versi spesifik yang stabil untuk Python 3.10
SQLAlchemy
pyyaml
python-dotenv
